# Ignore Python virtual environment
venv/

# Ignore Python bytecode
__pycache__/
*.pyc

# Ignore environment files
.env

# Ignore image outputs
/static/images/

# Ignore system files
.DS_Store
Thumbs.db
